#app{
    background: url(https://res.cloudinary.com/dlb0fs0l8/image/upload/v1655695220/pexels-kai-pilger-1341279_nzlspt.jpg);
    overflow-y: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.navbar{
    background-color: transparent !important;
}
.favbutton{
    background-color: transparent !important;
}


